body{
    background: #0B0C10;
    font-family: 'Oxygen', sans-serif;
    text-align: justify;
    overflow: hidden;
    
}

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}


#about .p-first{
    margin-bottom: 30px;
}


#about h1{
    margin-bottom: 35px;
    
}

#about .about-img .me{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
    
}

.color-3{
     color: #66fcf1;
}


.text-white{
    color: white;
}


p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #d6c6b2;
}

#about .btn-main{
     margin-top: 60px;
 }